<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILoginService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPregameService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMainMenuService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMainMenuService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameService" contract="PapayagramsService.IGameService"
                name="NetTcpBinding_IGameService">
                <identity>
                    <userPrincipalName value="PALE\epale" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMainMenuService" contract="PapayagramsService.IMainMenuService"
                name="NetTcpBinding_IMainMenuService">
                <identity>
                    <userPrincipalName value="PALE\epale" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILoginService" contract="PapayagramsService.ILoginService"
                name="NetTcpBinding_ILoginService">
                <identity>
                    <userPrincipalName value="DESKTOP-PGEUD8U\david" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMainMenuService1" contract="PapayagramsService.IMainMenuService"
                name="NetTcpBinding_IMainMenuService1">
                <identity>
                    <userPrincipalName value="DESKTOP-PGEUD8U\david" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPregameService" contract="PapayagramsService.IPregameService"
                name="NetTcpBinding_IPregameService">
                <identity>
                    <userPrincipalName value="DESKTOP-PGEUD8U\david" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contracts" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameService1" contract="PapayagramsService.IGameService"
                name="NetTcpBinding_IGameService1">
                <identity>
                    <userPrincipalName value="DESKTOP-PGEUD8U\david" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>